body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

#topbar {
  background: #106eea;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #ffffff;
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #ffffff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #ffffff;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}

#header {
  background: #fff;
  height: 86px;
  transition: all 0.5s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo a {
  color: #222222;
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a span {
  color: #106eea;
}

#hero {
  width: 100%;
  height: 60vh;
  background: url("assets/images/img.jpg");
  background-size: cover;
  position: relative;
}

#hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #222222;
  font-weight: 600;
  display: flex;
  align-items: center;
}

#hero .btn-watch-video i {
  color: #106eea;
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #106eea;
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s;
  border-radius: 8px;
  z-index: 1;
}

.icon {
  color: #106eea;
  transition: all 0.3s;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.icon-box:hover {
  color: white;
  background-color: #106eea;
}

.icon-box:hover .icon {
  color: white;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about-h2 {
  background-color: #e7f1fd;
  display: inline-block;
}

/*--------------------------------------------------------------
# Counter Section
--------------------------------------------------------------*/
.count-box {
  position: relative;
}

.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #106eea;
  color: #fff;
  width: 56px;
  height: 56px;
  line-height: 0;
  border-radius: 50px;
  border: 5px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*--------------------------------------------------------------
# Endorsement Section
--------------------------------------------------------------*/

.endorse img {
  transition: all 0.3s;
}

.endorse img:hover {
  transform: scale(1.2);
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.service .service-box {
  padding: 80px 20px;
}

.service:hover .icon-box {
  color: white;
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/

.swiper {
  width: 600px;
  height: 300px;
}

.swiper-slide {
  background-size: cover;
}

.testimonials {
  padding: 25px 0;
  background: url("assets/images/testimonial-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/

.member-img {
  position: relative;
}

.social-icons {
  position: absolute;
  left: 0px;
  bottom: 20px;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.member:hover .member-img .social-icons {
  opacity: 1;
}

/*--------------------------------------------------------------
# FAQ Section
--------------------------------------------------------------*/

.question {
  position: relative;
  display: block;
  font-weight: 400;
  cursor: pointer;
  line-height: 24px;
}

.question i {
  font-size: 16px;
  position: absolute;
  left: 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #d4e5fc;
}

.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

.faq .faq-list .question {
  color: #106eea;
}

.faq .faq-list .collapsed {
  color: #000;
}
